* {
  margin: 0;
}
body {
}
h1 {
  background: grey;
  color: white;
}
#display{
    margin:10px;
    height:100vh;
    overflow: hidden;
}
#display > *{
    padding:10px;
}
img:hover{
   height:200px;
}